.navbar{
    background-color: #1e272e;
   border-color: white;
}
.nav-link{
    color: white;
}
.gach{
    margin-top: 0rem;
	margin-bottom:0rem;
	border-top: 2px solid rgba(62,44,100, 0.6);
	width: 100%;
	margin-bottom: 0.05rem;
}